=provide(:title, 'Edit profile')
.row.jumbotron
  %h1.center
    %span#update Update your profile
  .center
    = form_for(@user) do |f|
      = render 'shared/error_messages'
      .field_label= f.label :name
      = f.text_field :name
      .field_label= f.label :email
      = f.text_field :email
      .field_label= f.label :current_password
      = password_field_tag :current_password, params[:current_password], placeholder: "Enter your current password"
      .field_label#new_pass= f.label "New password"
      .blank_fields (leave blank if you don't wont to change it)
      = f.password_field :password, placeholder: "Enter your new password"
      .field_label= f.label "Password_confirmation"
      = f.password_field :password_confirmation, placeholder: "Confirm new password"
      .field_label= f.label "Chose new avatar"
      #avatar= f.file_field :avatar
      %p#sub_button= f.submit "Save changes", class: "btn btn-primary btn-lg"