=provide(:title, 'Sign Up')
.opcity_signup
.sign_up.center
  %h1.center#registration Registration
  = form_for(@user) do |f|
    .form-horizontal
      = render 'shared/error_messages'
      .form
        .center= f.label :name
        = f.text_field :name
      .form
        .center= f.label :email
        = f.text_field :email
      .form
        .center= f.label :password
        = f.password_field :password
      .form
        .center= f.label :password_confirmation, "Password Confirmation"
        = f.password_field :password_confirmation
      %p.center#chose_avatar Choose your avatar
      .avatar= f.file_field :avatar
      %p#signup_submit= f.submit "Create my account", class: "btn btn-primary btn-lg"