= provide(:title, @user.name)
.container-fluid.jumbotron
  .row-fluid
    .col-lg-4
      .user_name
        %h3= @user.name
      .center= image_tag @user.avatar.url(:small), class: "img-rounded"
      %br
        .center= link_to "Edit your profile", edit_profile_path, class: "btn btn-primary"
        %p
          .center= link_to "Add book", new_book_path, class: "btn btn-default"
    .col-lg-8.friends-sidebar
      %p.bg-primary.center Friends
      =render 'users/friends'
      .center=link_to "Find more friends", users_path, class: "btn btn-info"