= provide(:title, @user.name)
.container-fluid.jumbotron
  %p
    = link_to "Edit your profile", edit_profile_path, class: "btn btn-primary right"
  %br
    = link_to new_book_path, class: "btn btn-default right" do
      Add book
  .row-fluid
    .col-lg-2
      = image_tag @user.avatar.url(:small), class: "img-rounded"
    .col-lg-10
      %h3.user_name= @user.name
      .friends
        %h2 Friends
      .center=link_to "Find more friends", users_path, class: "btn btn-info"
