%table.book-list.table
  %thead
    %tr
      %th Title
      %th Year
      %th Language
      %th Pages
      %th Attacment present
  %tbody
    - @books.each do |book|
      %tr
        %td 
          = link_to book.title, book
        %td 
          = book.year
        %td 
          = book.language
        %td 
          = book.pages
        %td
          = book.attachment.present?