%h5
  Titles:
  = @epub.metadata.titles
%h5
  Title:
  = @epub.metadata.title
%h5
  Title:
  = @epub.metadata.creators # => Creators(authors)
  - @epub.each_page_on_spine do |page|
    %h6
      Media type:
      = page.media_type
    %h6
      Entry name:
      = page.entry_name
    %h6
      Raw:
    = page.read
    %h6
      Nokogiri doc:
    = page.content_document.nokogiri
    - break