.navbar-header
  %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to root_path, class: 'navbar-brand' do
    Books
.navbar-collapse.collapse.navbar-responsive-collapse
  %ul.nav.navbar-nav
    - if signed_in? && current_user.admin?
      %li.active
        = link_to "Admin", admin_statistics_path
  - if signed_in?
    %ul.nav.navbar-nav.navbar-right
      - if signed_in?
        %li
          %p.navbar-text
            Hello
            = link_to current_user.name, profile_path
            !
        %li
          .btn.btn-default.navbar-btn
            = link_to signout_path, method: :delete do
              Sign Out
      - else
        %li
          .btn.btn-default.navbar-btn
            = link_to "Sign in", signin_path
        %li
          .btn.btn-default.navbar-btn
            = link_to "Sign Up", signup_path